In [1]:
# Import 
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split

In [7]:
from sklearn.datasets import load_boston
housing = load_boston()
housing
house = pd.DataFrame(housing['data'])
house.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33

In [9]:
house[13] = housing['target']
house.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33,36.2

In [10]:
X = house.drop(13,axis=1)
y = house[13]
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.2)

In [11]:
### RandomForestRegressor
from sklearn.ensemble import RandomForestRegressor
rf_clf = RandomForestRegressor()

In [12]:
rf_clf.fit(X_train,y_train)

RandomForestRegressor()

In [13]:
rf_clf.score(X_test,y_test)

0.8714619577618992

In [16]:
## Predicit
y_pred = rf_clf.predict(X_test)
y_pred[:5]

array([11.25 , 24.334, 12.373, 22.112, 31.301])

In [18]:
y_test[:5]

412    17.9
326    23.0
403     8.3
265    22.8
275    32.0
Name: 13, dtype: float64

In [19]:
from sklearn.metrics import mean_absolute_error
MAE = mean_absolute_error(y_test,y_pred)

In [20]:
MAE  # $ 2.3 $  # MAE = 0 is the best

2.330892156862746

In [22]:
# MAE on training data
y_pred_train = rf_clf.predict(X_train)

In [23]:
MAE_T = mean_absolute_error(y_train,y_pred_train)

In [24]:
MAE_T

0.8263638613861372

In [25]:
# Mean square error // Amplified Error
from sklearn.metrics import mean_squared_error
MSE = mean_squared_error(y_test,y_pred)

In [26]:
MSE

11.07781581372549

In [27]:
MSE_T= mean_squared_error(y_train,y_pred_train)

In [28]:
MSE_T

1.5009147351485137

In [ ]:
# Imporove Model